<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <table class ="board">
        <tbody>
            {%for row in board%}
            <tr>
                {%for cell in row%}
                <td>{{cell}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <form method="POST" class="guess">
        <input type="text" class="word" autofocus>
        <button>Guess!</button>


    </form>

    <script src="app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>
</html>
